<header>
    <div class ="wrapper">

    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png" alt="" width="300" class="d-inline-block align-text-top"> 
    </div>
    <nav >
        <a  href="">INICIO</a>
        <a  href="login">LOGIN</a>
    </nav>
</div>
</header>
<div className="container home">
    
        <div className="row align-items-center mt-3">
       
        <div className="col-12 col-lg-6">
            <p class="centrado"><img className="img-fluid" src="https://res.cloudinary.com/dioxkbk6g/image/upload/v1569205854/Pokeapi/Generation1-Starters-1024x467_dqfrvt.png" alt="Imagen de pokemons"/></p>
            
        </div>
        <div className="textocentrado">
            <p class="centradotxt">WELCOME</p>

        </div>
    
     </div>
</div>
