

         
              <div class="card__image-container">
                <img src="{{datoPoke.Imagen}}"  alt="" class="card__image">   
              </div>
              
              <figcaption class="card__caption">
                <h1 class="card__name">{{datoPoke.Nombre}}</h1>
            
                <h3 class="card__type">
                    {{datoPoke.Tipo}}
                </h3>
            
                <table class="card__stats">
                  <tbody><tr>
                    <th>No.</th>
                    <td>{{datoPoke.Numero}}</td>
                  </tr>
                  <tr>
                    <th>Ataque:</th>
                    <td>{{datoPoke.Ataque}}</td>
                  </tr>
                  
                </tbody></table>
              </figcaption>
             